<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Notification</title>
    <style>
        /* Responsive styles */
        @media only screen and (max-width: 600px) {
            table[class="wrapper"] {
                width: 100% !important;
            }
            td[class="container"] {
                padding: 10px !important;
            }
            img[class="logo"] {
                max-width: 200px !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif;">
    <table class="wrapper" cellpadding="0" cellspacing="0" width="600" style="max-width: 600px; margin: 0 auto; background-color: #FFFFFF;">
        <tr>
            <td class="container" style="padding: 20px;">
                <img class="logo" src="https://d15k2d11r6t6rl.cloudfront.net/pub/bfra/vmcxoj18/bvc/k5d/8pp/logo.png" alt="Logo" style="max-width: 50%; height: auto;">
            </td>
        </tr>
        <tr>
            <td class="container" style="padding: 20px; background-color: #d3d1d1c7; box-shadow: 10px 10px 0 10px rgba(0, 0, 0, 0.568);">
                <p style="color: #101112; font-size: 16px; font-family:Arial, Helvetica, sans-serif">Dear {{firstname}},</p>
                <p style="color: #101112; font-size: 17px; font-family:Arial, Helvetica, sans-serif">Your profile has been deactivated by the Admin. Kindly reach us at +94772958078 for inquiries.</p>
                <p style="color: #101112; font-size: 16px; font-family:Arial, Helvetica, sans-serif">Thank you,<br>Team W3G</p>
            </td>
        </tr>
    </table>
</body>
</html>

